:root {
  --accent: #292c30;
  --accent-light: #606368;
  --pure-white: #fff;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--accent);
}

.section-title {
  text-transform: uppercase;
  text-align: center;
}
.section {
  padding: 60px 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

  /*border: 1px solid black;*/
}

.header {
  background-color: var(--accent);
}
.header a {
  color: var(--pure-white);
  text-decoration: none;
}
.header-nav {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-logo {
  display: inline-block;
  width: 20%;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 75px;
}

.header-menu {
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-link {
  padding: 15px 10px;
  text-transform: uppercase;
  line-height: 20px;
  font-size: 20px;
  transition: background-color 1s;
}
.header-menu-link:hover {
  background-color: var(--accent-light);
}

.intro {
  padding: 60px 0;
}

.intro-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-left {
  width: 25%;
}
.intro-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.intro-right {
  width: 60%;
  padding: 55px 0;
}
.intro-right h1 {
  margin: 0 0 15px;
}
/*
.intro-right h3 {
  margin: 0 0 10px;
}
*/
.contacts {
  margin-bottom: 60px;
}

.contacts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts li {
  text-align: center;
}

.skills {
  padding: 60px 0;
  color: var(--pure-white);
  background-color: var(--accent);
}

.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0 10px 20px 0;
  list-style: none;
}
.skills li {
  /*padding: 10px 25px;*/
  background-color: var(--accent-light);
  border-radius: 4px;
}
.code-example {
  padding: 60px 0;
  color: var(--pure-white);
  background-color: var(--accent);
  text-align: center;
}

.code-example p {
  font-style: italic;
}
.code-example b {
  font-style: normal;
  text-align: center;
}
.code-example pre {
  width: 35%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  color: var(--pure-white);
  background-color: var(--accent);
  border-radius: 8px;
}
.portfolio ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 25px;
  margin: 0;
}
.portfolio li {
  background-color: var(--accent);
  padding: 10px 45px;
  border-radius: 5px;
}
.portfolio h4 {
  color: var(--pure-white);
}
.languages ul {
  margin-left: 600px;
}
.education {
  color: var(--pure-white);
  background-color: var(--accent);
  padding: 15px 0;
}
.education p {
  text-align: center;
}
.link {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}
